@page
@model DrinkLogger.Pages.UpdateModel
@{
}

<h4>Update Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <input type="hidden" asp-for="drinkingWaterModel.Id"/>
            <div class="form-group">
                <lable asp-for="drinkingWaterModel.Date" class="control-lable"></lable>
                <input type="date" asp-for="drinkingWaterModel.Date" class="form-control" />
                <span asp-validation-for="drinkingWaterModel.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <lable asp-for="drinkingWaterModel.Quantity" class="control-lable"></lable>
                <input asp-for="drinkingWaterModel.Quantity" class="form-control" />
                <span asp-validation-for="drinkingWaterModel.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back To List</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}